/*============STYLE FOR HOME PAGE ================*/

/*style for body*/
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f3fae2;
}


/*style for wrappers*/
.wrapper {
	margin: 0 7%;
}

.subWrapper {
  position: relative;
  display: inline-block;
  float: left;
  width:50%;
}

/*style for different screen sizes*/
@media screen and (max-width: 999px) {
	.item {
	  clear: both;
	  margin-bottom: 2%;
	  display: inline-block;
	  float: left;
	  width: 100%;
	  padding: 2% 2%;
	  background-color: #f3fae2;
	  text-align: center;
	  color: #254d65;
	}

	.itemLast {
		width: 80%;
		height: 456px;
		margin: 0 10%;
		margin-bottom: 5%;
		border: 3px solid #a8dda8;
		position: relative;
		display: inline-block;
		float: left;
		background-color: #f3fae2;
		text-align: center;
		color: #FFF;
	}

	h1 {
		font-size: 4.5vw;
	}

	p {
		font-size: 2vw;
	}
}


@media screen and (min-width: 1000px) {
	.item {
		position: relative;
		display: inline-block;
		float: left;
		width: 46%;
		height: 460px;
		margin: 5% 2%;
		padding: 2% 2%;
		background-color: #f3fae2;
		text-align: center;
		color: #254d65;
	}
	
	.itemLast {
		width: 60%;
		height: 456px;
		margin: 0 20%;
		margin-top: -10%;
		margin-bottom: 5%;
		border: 3px solid #a8dda8;
		position: relative;
		display: inline-block;
		float: left;
		background-color: #f3fae2;
		text-align: center;
		color: #FFF;
	}

	#itemSecond {
	  margin-top: 25%;
	}

	#itemThird {
	  margin-top: -25%;
	}

	#itemFourth {
	  margin-top: -15%;
	}
	
	h1 {
		font-size: 2.5vw;
	}

	p {
		font-size: 1vw;
	}
}





/*style for paragraph regardless of screen size*/
p {
	text-align: justify;
    text-justify: inter-word;
}



/*style for embedded video iframe*/
iframe {
	width: 100%;
	height: 450px;
}




/*style for images*/
#eco {
	width: 100%;
}

#ecobulb {
	width: 80%;
}

#conditionChart {
	width: 100%;
}




