/*============Style For To Top Button On Home Page And Electrical Appliances Page================*/

.toTop {
	z-index: 1;
	right: 12px;
	bottom: 12px;
	position: fixed;
	width: 35px;
	height: 35px;
	border-radius: 50%;
	background: #a8dda8;
	box-shadow: 0 0 12px rgba(0, 0, 0, 0.25);
	color: white;
	cursor: pointer;
	border: none;
}
	
.toTop:active {
	background: #3ba858
}

.upArrow {
	padding-top: 4px;
}